.imgs-banner {
    width: 40%;
}

.box-with {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.p-categories {
    padding-left: 40px;
    padding-right: 40px;
}

.m-bottom {
    margin-bottom: 60px;
}

.py-50 {
    padding: 50px 0;
}

.fill-up-box {
    display: block;
    padding: 5% 50%;
    background-color: #fff;
    border-radius: 8px;
    border: none;
}

.bg-color-footer {
    background-color: #fceae8;
}